body, html {
    height: 100%;
    margin: 0;
  }
  
 .container {
    /* The image used */
    background-image: url("../Home_page.webp");
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:whitesmoke;
    
  }
  .btn
  {
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    text-shadow: none;
    color: black;
  }

  .Links
  {   
    content: inherit;
    display: inline-block;
    font-size:xx-large;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 30px;
  }
  .btnGithub {
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    color: whitesmoke;
  }
  .btnlinkedin{
   
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    color: whitesmoke;
  }
  .btnGithub:hover 
  {
    background-color: transparent;
    color: black;
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .btnlinkedin:hover
  {
    border-radius: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: transparent;
    color: whitesmoke;
  }
  .content {
    text-align: center;
    padding-top: 10%;
    padding-bottom: 10%;
  }
  .content span{
    size: 30px;
  }
.icon-bar >a
{
    font-size: 25px;
    color:whitesmoke;
    float:right;
    padding-right: 25%;
}
.icon-bar >a:hover{
    font-size: 30px;
    background-color: transparent;
    color: whitesmoke;
}
div .projectDetails{
    border: 1px solid black;
/*display: inline-block;*/
    float:left;
    width: 30%;
    border-collapse: collapse;
    display:grid;
    margin-inline:3px;
    margin:inherit;
    
}

/*ARROW CSS STYLESHEET*/
body {
    background: #000;
  }
  
  .arrow,
  .arrow:before {
    position: absolute;
    left: 50%;
  }
  
  .arrow {
    width: 40px;
    height: 40px;
    top: 50%;
    margin: -20px 0 0 -20px;
    -webkit-transform: rotate(45deg);
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
  }
  
  .arrow:before {
    content: "";
    width: 20px;
    height: 20px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
  }
  
  @keyframes arrow {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translate(-10px, -10px);
    }
  }
  
  
  
  
  /* Custom Animate.css */
  
  .animated.hinge {
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
  }
  
  @-webkit-keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  @keyframes zoomIn {
    0% {
      opacity: 0;
      -webkit-transform: scale3d(.4, .4, .4);
              transform: scale3d(.4, .4, .4);
    }
  
    50% {
      opacity: 0.5;
    }
    
    100% {
      opacity: 0;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
            animation-name: zoomIn;
  }