 /* Custom Styles */
        body {
            background-color: #f3f4f6; /* Light gray background */
            color: #333; /* Default text color */
            transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color */
        }

        .dark-mode body {
            background-color: #1f2937; /* Dark gray background in dark mode */
            color: #ffffff; /* White text color in dark mode */
        }

        .navbar {
            background-color: #0A192F; /* Dark blue background for navbar */
        }

        .navbar a {
            color: white;
            transition: all 0.3s ease;
        }

        .navbar a:hover {
            transform: scale(1.05);
        }

        .social-icon {
            width: 28px;
            height: 28px;
        }

        .section-title {
            color: #333;
        }

        .section-header {
            background-color: #60A5FA; /* Blue background for section headers */
            color: white;
            padding: 10px 20px;
            border-radius: 8px;
            margin-bottom: 20px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
        }

        .section-content {
            background-color: #EDF2F7; /* Light gray background for section content */
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
            margin-bottom: 30px;
            height: 100%; /* Ensure each card takes up full height */
            display: flex; /* Use flex layout */
            flex-direction: column; /* Stack children vertically */
        }

        .section-content.dark-mode {
            background-color: #2D3748; /* Dark gray background for section content in dark mode */
        }

        /* Animation for Section Content */
        @keyframes fadeIn {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        .animated-section {
            animation: fadeIn 1s ease-out;
        }
